$mainColor : #4ea3ee;

.page{
  width: 100vw;
  min-height: calc(100vh - 194px);
  margin: 94px 0 100px 0;
  position: absolute;
  top: 0;
}
.adminPage{
  width: 100vw;
  min-height: calc(100vh - 94px);
  margin-top: 94px;
  position: absolute;
  top: 0;
  background-color: #fff;
}
.clear{
  clear: both;
}
.highlight{
  color: $mainColor;
}
